* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*header-mobile-css*/
nav {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #cacaca;
	background-color: #fff;
	z-index: 1;
}
.nav-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 30px;
}

.nav-ul {
	display: none;
	list-style-type: none;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav-ul > li {
    padding: 0px 11px;
    margin: 0.6rem 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #1b2f3f;
}
.nav-ul > li > a {
	text-decoration: none;
}
.nav-ul > li > a:link {
	color: #000;
}
.nav-ul > li > a:visited {
	color: #000;
}
.nav-ul > li > a:hover {
	color: #FFB923;
}
.nav-ul > li > a:active {
	color: #1B2F3F;
	
}

.soc-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1B2F3F;
	text-decoration: none;
	min-height: 50px;
}
.soc-icon:link {
	color: #fff;
}
.soc-icon:visited {
	color: #fff;
}
.soc-icon:hover {
	color: #fff;
}
.soc-icon:active {
	color: #fff;
}
.soc-icon-container {
	display: flex;
	align-items: center;

}	
.s-fb:hover {
	background-color: #1877F2; 
}
.s-yt:hover {
	background-color: #C80808;
}
.s-li:hover {
	background-color: #006097;
}
.nav-ul.show {
	display: flex;
}

.hamburger {
	background-color: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
}
.hamburger:focus {
	border: 0;
}




/* main-content........................................ */
.headline {
    text-align: center;
    margin: 2rem;
}
.headline-head {
    margin-top: 6rem;
}
.headline-body {
    line-height: 26px;
	margin: 1rem;
	padding: 0 18rem;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 2.4rem;
	justify-content: center;
	padding: 0rem;
}
.card {
    width: 340px;
    height: 340px;
    margin: 1.4rem 1.4rem;
    border: 1px solid rgb(243, 238, 238);
    box-shadow:2px 2px 6px 2px rgb(238, 235, 235);
    text-align: center;
    list-style: none;
    overflow: hidden;
}

.card-pic {
    width: 80px;
    height: 80px;
    margin: 1rem;
}
.card-title {
    color: #FFA33E;
    font-size: 1rem;
}
.card-tagline {
    margin: 0.4rem;
    color: #020202;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 2.8rem;
    font-family: 'Open Sans', sans-serif;
}
.card-info {
    font-size: 0.8rem;
    color: #394044;
    line-height: 1.2rem;
    text-align: justify;
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
}
.card-container {
    height: 290px;
    overflow: hidden;
}
.card-button {
    background-color: #FFA33E;
    height: 50px;
}

.card-link {
   text-decoration: none;
   color: #020202;
   font-size: 1rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   position: relative;
   top: 0.7rem;
}
.card-link-arrow {
    padding-left: 0.4rem;
}


/* footer.............................. */

.footeri {
	background-color: #262e33; 
	width: 100%; 
	padding-top: 30px; 
	margin-top: auto;
}
.footer-text {
	font-size: 12px; 
	color: #fff; 
}

ul {
	padding-left: 20px;
}
.footer-wrapper {
	margin: 0 30px;
}
.footer-wrapper  a {
    text-decoration: none;
}
.footer-wrapper td {
    padding: 0 4px;
}
.footer-wrapper .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-wrapper .row .footer-fix {
    margin-right: 10rem;
   justify-self: end;
}
.bottom-footer {
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

 .ful > li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footeri a:link {
	color: #fff;
}
.footeri a:visited {
	color: #fff;
}
.footeri a:hover {
	color: #fff;
}
.footeri a:active {
	color: #fff;
}
.bottom-footer-wrap {
	display: flex;
	align-items: center;
	font-size: 13px;
	min-height: 40px; 
	width: 100%; 
	background-color: #394044;
}
.mont-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.secu {
	color: #fff;
	cursor: pointer;
}
.secu:link {color: #fff;}
.secu:visited {color: #fff;}
.secu:hover {color: #fff;}
.secu:active {color: #fff;}
.headings {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.descriptions {
	font-size: 12px;
}


/* media-queries... for main-content*/

@media (max-width:1118px) {
	.headline-body {
        padding: 0 10rem;
    }
}

@media(max-width:900px) {
    .headline-body {
        padding: 0 6rem;
    }
}

@media(max-width:730px) {
    .headline {
		margin: 0rem;
		margin-top: 3rem;
    }
    .headline-body {
		margin: 1rem 1rem;
		padding: 0 0rem;
    }

}



/* media-queries for header....................... */

@media only screen and (min-width: 768px) {
	.nav-contents {
		margin: 0 90px;
		height: 100%;
		flex-wrap: nowrap;
	}
	.nav-ul {
		display: flex;
		height: 100%;
		flex-direction: row;
		align-items: center;
		width: auto;
	}
	.nav-ul > li {
		padding: 0px 10px;
		display: flex;
		align-items: center;
        height: 100%;
	}
	.hamburger {
		display: none;
	}
	nav {
		height: 65px;
	}
}

@media only screen and (min-width: 1184px) {
	.nav-contents {
		margin: 0 190px;
	}
}


/* media-queries for footer................. */

@media only screen and (min-width: 768px) {
	.footer-wrapper {
		margin: 0 90px;
	}
	.bottom-footer {
		margin: 0 90px;
	}		
}

@media only screen and (min-width: 1184px) {
	.footer-wrapper {
		margin: 0 190px;
	}	
	.bottom-footer {
		margin: 0 190px;
	}	
}





